acklog.txt
*.bak
*.raw
*.wed
ackerr.txt
*.blend?
/game/level/*.$$M
/game/level/*.$$p
/game/level/*.$$w
/game/lottivstheworld.cd
shot_*.jpg
highscores.dat
*.log
/game/lottivstheworld.zip
